@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.card-image {
  /* Default size for larger screens */
  width: 400px;
  height: 400px;
}
/* Smaller image on phone screens */
@media (max-width: 640px) {
  .card-image {
    /* Adjust the width and height for smaller screens */
    width: 100px;
    height: 100px;
  }
}

/* Slightly bigger image on medium screens */
@media (min-width: 768px) {
  .card-image {
    /* Adjust the width and height for medium screens */
    width: 300px;
    height: 300px;
  }
}
